# http://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Chromium
Standard: Cpp11

AllowShortFunctionsOnASingleLine: false

ColumnLimit: 100

# Use 4 space indents
IndentWidth: 4
ObjCBlockIndentWidth: 4
AccessModifierOffset: -2

CompactNamespaces: true

# This should result in only one indentation level with compacted namespaces
NamespaceIndentation: All

# Use this option once clang-format 6 is out.
IndentPPDirectives: AfterHash
