.cipd
.DS_Store
.gclient
.gclient_entries
.vs
.vscode/*
!.vscode/tasks.json
.idea
buildtools
cmake-build-*/
coverage.summary
default.profraw
lcov.info
out
testing
third_party/cpplint
third_party/binutils
third_party/glslang
third_party/googletest
third_party/gpuweb-cts
third_party/llvm-build
third_party/protobuf
third_party/spirv-headers
third_party/spirv-tools
tools/clang
tools/bin

/build*/
/test.wgsl
