.cipd
.DS_Store
.gclient
.gclient_entries
.vs
.vscode
build
buildtools
out
testing
third_party/cpplint
third_party/binutils
third_party/googletest
third_party/gpuweb-cts
third_party/llvm-build
third_party/spirv-headers
third_party/spirv-tools
tools/clang
