[submodule "external/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "external/glslang"]
	path = third_party/glslang
	url = https://github.com/google/glslang.git
[submodule "external/shaderc"]
	path = third_party/shaderc
	url = https://github.com/google/shaderc.git
[submodule "external/spirv-tools"]
	path = third_party/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "external/spirv-headers"]
	path = third_party/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "external/spirv-cross"]
	path = third_party/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "external/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "external/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
